<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>MeNotes | New Note </title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <div class="maingrid">
        <div class="header">
            <div class="logo">
                <a href="/">MeNotes</a>
            </div>

            <div class="login"><button type="button" class="btn btn-outline-light"><a href="/login">Login</a> </button></div>
        </div>
        <div class="sidebar paragraph">
            My Notes
        </div>
        <div class="contentbar">
            <div class="note">
                <div class="note-title">Infuse</div>
                <div class="note-body">Infuse your life with action. Don't wait for it to happen. Make it happen. Make your own future. Make your own hope. Make your own love. And whatever your beliefs, honor your creator, not by passively waiting for grace to come down from
                    upon high, but by doing what you can to make grace happen... yourself, right now, right down here on Earth.
                </div>
                <div class="note-timestamp">29/12/2021</div>
                <button type="button" class="btn btn-outline-dark">Edit</button>
                <button type="button" class="btn btn-outline-dark">Delete</button>
            </div>
        </div>
        <div class="footer paragraph">
            <div class="logo heading"><a href="/">MeNotes</a></div>
            <div class="about title">About Us</div>
            <div class="Support title">Support</div>
        </div>
    </div>
</body>

</html>